<extend name="Index/index"/>
<block name="main">
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">作品管理</a><span class="crumb-step">&gt;</span><span>新增作品</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="/Admin/Part/save" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>分区名：</th>
                                <td>
                                    <input class="common-text required" id="title" autocomplete="off" name="part_name" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th width="120"><i class="require-red">*</i>区主：</th>
                                <td>
                                    <select name="user_id" id="catid" class="required">
                                        <option value="">请选择</option>
                                        <?php foreach ($part_users as $user_id=>$user_name) :?>
                                        <option value="<?=$user_id?>">{$user_name}</option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="新增" type="submit">
                                    <a href="/Admin/Part" class="btn btn6">返回</a>
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</block>