<extend name="Index/index"/>
<block name="main">
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">作品管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="/Admin/Part/index" method="GET">
                    <table class="search-tab">
                        <tr>
                            <th width="70">分区:</th>
                            <td><input class="common-text" autocomplete="off" placeholder="#模糊查询" name="part_name" value="<?php if(!(empty($keep_search_condient['part_name']))){echo $keep_search_condient['part_name'];} ?>" id="" type="text"></td>
                            <th width="70">区主:</th>
                            <td><input class="common-text" autocomplete="off" placeholder="#模糊查询" name="user_name" value="<?php if(!(empty($keep_search_condient['user_name']))){echo $keep_search_condient['user_name'];} ?>" id="" type="text"></td>
                            <td>
                                <input class="btn btn-primary btn2" value="查询" type="submit">
                                <a href="/Admin/Part" class="btn btn-primary btn2">返回</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>分区ID</th>
                            <th>分区名</th>
                            <th>区主</th>
                            <th>操作</th>
                        </tr>
                        <foreach name="bbs_parts_array" item="v">
                        <?php foreach ($bbs_parts_array as $bbs_part_array) :?>
                        <tr>
                            <td>{$bbs_part_array['part_id']}</td>
                            <td>{$bbs_part_array['part_name']}</td>
                            <td>{$bbs_user_array[$bbs_part_array['user_id']]}</td>
                            <td>
                                <a class="link-update" href="/Admin/Part/edit?part_id={$bbs_part_array['part_id']}">修改</a>
                                <a class="link-del" href="/Admin/Part/del?part_id={$bbs_part_array['part_id']}">删除</a>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    </table>
                    <div class="list-page">{$parts_page_show}</div>
                </div>
            </form>
        </div>
    </div>
</block>