<extend name="Index/index"/>
<block name="main">
<!--/sidebar-->
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">作品管理</a><span class="crumb-step">&gt;</span><span>新增作品</span></div>
    </div>
    <div class="result-wrap">
        <div class="result-content">
            <form action="{:U('Admin/Post/update',['post_id'=>$bbs_post_array['post_id']],'')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                <table class="insert-tab" width="100%">
                    <tbody>
                        <tr>
                            <th><i class="require-red">*</i>帖子标题：</th>
                            <td>
                                <input class="common-text required" autocomplete="off" id="title" name="post_title" size="50" value="{$bbs_post_array['post_title']}" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>帖子内容：</th>
                            <td><textarea name="post_content" autocomplete="off" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="10">{$bbs_post_array.post_content}</textarea></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <input class="btn btn-primary btn6 mr10" value="修改" type="submit">
                                <a href="{:U('Admin/Post/index','','')}" class="btn btn6">返回</a>
                            </td>
                        </tr>
                    </tbody></table>
            </form>
        </div>
    </div>

</div>
<!--/main-->
</block>