<extend name="Index/index"/>
<block name="main">
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">作品管理</a><span class="crumb-step">&gt;</span><span>新增作品</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="/Admin/User/save" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>用户名：</th>
                                <td>
                                    <input class="common-text required" autocomplete="off" id="title" name="user_name" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>用户密码：</th>
                                <td><input class="common-text" name="user_password" size="50" value="" type="password"></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>确认密码：</th>
                                <td><input class="common-text" name="user_repassword" size="50" value="" type="password"></td>
                            </tr>
                            <tr>
                                <th width="120"><i class="require-red">*</i>用户权限：</th>
                                <td>
                                    <select name="user_level" id="catid" class="required">
                                        <option value="">请选择</option>
                                        <option value="1">普通用户</option>
                                        <option value="2">会员</option>
                                        <option value="3">版主</option>
                                        <option value="4">区主</option>
                                        <option value="5">管理员</option>
                                        <option value="6">站长</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red"></i>用户头像：</th>
                                <td>
                                    <input name="user_face" id="" type="file">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>用户性别：</th>
                                <td>
                                    <input class="common-text" name="user_sex" size="50" value="1" type="radio"> 保密
                                    <input class="common-text" name="user_sex" size="50" value="2" type="radio"> 男
                                    <input class="common-text" name="user_sex" size="50" value="3" type="radio"> 女
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="新增" type="submit">
                                    <a href="/Admin/User" class="btn btn6">返回</a>
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</block>