<extend name="Index/index"/>
<block name="main">
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">作品管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="/Admin/User/index" method="GET">
                    <table class="search-tab">
                        <tr>
                            <th width="120">用户性别:</th>
                            <td>
                                <select name="user_sex" id="">
                                    <option value="">全部</option>
                                    <option value="1" <?php if($keep_search_condient['user_sex'] === '1'){ echo 'selected';}?>>保密</option>
                                    <option value="2" <?php if($keep_search_condient['user_sex'] === '2'){ echo 'selected';}?>>男</option>
                                    <option value="3" <?php if($keep_search_condient['user_sex'] === '3'){ echo 'selected';}?>>女</option>
                                </select>
                            </td>
                            <th width="120">用户等级:</th>
                            <td>
                                <select name="user_level" id="">
                                    <option value="">全部</option>
                                    <option value="1" <?php if($keep_search_condient['user_level'] === '1'){ echo 'selected';}?>>普通用户</option>
                                    <option value="2" <?php if($keep_search_condient['user_level'] === '2'){ echo 'selected';}?>>会员</option>
                                    <option value="3" <?php if($keep_search_condient['user_level'] === '3'){ echo 'selected';}?>>版主</option>
                                    <option value="4" <?php if($keep_search_condient['user_level'] === '4'){ echo 'selected';}?>>区主</option>
                                    <option value="5" <?php if($keep_search_condient['user_level'] === '5'){ echo 'selected';}?>>管理员</option>
                                    <option value="6" <?php if($keep_search_condient['user_level'] === '6'){ echo 'selected';}?>>站长</option>
                                </select>
                            </td>
                            <th width="120">用户状态:</th>
                            <td>
                                <select name="user_status" id="">
                                    <option value="">全部</option>
                                    <option value="1" <?php if($keep_search_condient['user_status'] === '1'){ echo 'selected';}?>>正常</option>
                                    <option value="2" <?php if($keep_search_condient['user_status'] === '2'){ echo 'selected';}?>>禁用</option>
                                </select>
                            </td>
                            <th width="70">用户名:</th>
                            <td>
                                <input class="common-text" autocomplete="off" placeholder="#模糊查询" name="user_name" value="<?php if(!(empty($keep_search_condient['user_name']))){echo $keep_search_condient['user_name'];} ?>" id="" type="text">
                            </td>
                            <td>
                                <input class="btn btn-primary btn2" value="查询" type="submit">
                                <a href="/Admin/User" class="btn btn-primary btn2">返回</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>用户编号</th>
                            <th>用户名</th>
                            <th>用户头像</th>
                            <th>用户性别</th>
                            <th>用户状态</th>
                            <th>用户权限</th>
                            <th>用户创建时间</th>
                            <th>操作</th>
                        </tr>
                        <foreach name="users_data_array" item="v">
                        <tr>
                            <td>{$v.user_id}</td>
                            <td>{$v.user_name}</td>
                            <td>
                                <img src="/{$v.user_face}" alt="">
                            </td>
                            <td>
                                <switch name="v.user_sex">
                                    <case value="1">保密</case>
                                    <case value="2">男</case>
                                    <case value="3">女</case>
                                </switch>
                            </td>
                            <td>
                                <switch name="v.user_status">
                                    <case value="1">正常</case>
                                    <case value="2">禁用</case>
                                </switch>
                            </td>
                            <td>
                                <switch name="v.user_level">
                                    <case value="1">普通用户</case>
                                    <case value="2">会员</case>
                                    <case value="3">版主</case>
                                    <case value="4">区主</case>
                                    <case value="5">管理员</case>
                                    <case value="6">站长</case>
                                </switch>
                            </td>
                            <td>{$v.user_register_time|date="Y-m-d H:i:s",###}</td>
                            <td>
                                <a class="link-update" href="/Admin/user/edit?user_id={$v.user_id}">修改</a>
                                <a class="link-del" href="/Admin/user/del?user_id={$v.user_id}">删除</a>
                            </td>
                        </tr>
                        </foreach>
                        <!-- <tr>
                            <td class="tc"><input name="id[]" value="58" type="checkbox"></td>
                            <td>
                                <input name="ids[]" value="58" type="hidden">
                                <input class="common-input sort-input" name="ord[]" value="0" type="text">
                            </td>
                            <td>58</td>
                            <td title="黑色经典"><a target="_blank" href="#" title="黑色经典">黑色经典</a> …
                            </td>
                            <td>0</td>
                            <td>35</td>
                            <td>admin</td>
                            <td>2013-12-30 22:34:00</td>
                            <td></td>
                            <td>
                                <a class="link-update" href="#">修改</a>
                                <a class="link-del" href="#">删除</a>
                            </td>
                        </tr> -->
                    </table>
                    <div class="list-page">{$page_html_show}</div>
                </div>
            </form>
        </div>
    </div>
</block>