<extend name="Index/index"/>
<block name="main">
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">作品管理</a><span class="crumb-step">&gt;</span><span>新增作品</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="/Admin/Cate/save" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>所属分区：</th>
                                <td>
                                    <tagLib name="html" />
                                    <html:select name="part_id" options="bbs_parts_info" first="选择分区"/>
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>版主：</th>
                                <td>
                                    <tagLib name="html" />
                                    <html:select name="user_id" options="bbs_users_info" first="选择版主"/>
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>版块名：</th>
                                <td>
                                    <input class="common-text required" autocomplete="off" id="title" name="cate_name" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="新增" type="submit">
                                    <a href="/Admin/Cate" class="btn btn6">返回</a>
                                    
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</block>