<extend name="Index/index"/>
<block name="main">
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">作品管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="/Admin/Cate/index" method="GET">
                    <table class="search-tab">
                        <tr>
                            <th width="70">分区:</th>
                            <td>
                                <select name="part_id" id="">
                                    <option value="">全部</option>
                                    <?php foreach($bbs_parts_name_list as $bbs_parts_id=>$bbs_parts_name) : ?>
                                    <option value="{$bbs_parts_id}" <?php if($get_cate_data['part_id'] === "$bbs_parts_id"){echo 'selected';}?>>{$bbs_parts_name}</option>
                                    <?php endforeach; ?>
                                </select>
                            </td>
                            <th width="70">版块:</th>
                            <td>
                                <select name="cate_id" id="">
                                    <option value="">全部</option>
                                    <?php foreach($bbs_cates_name_list as $bbs_cates_id=>$bbs_cates_name) : ?>
                                    <option value="{$bbs_cates_id}" <?php if($get_cate_data['cate_id'] === "$bbs_cates_id"){echo 'selected';}?>>{$bbs_cates_name}</option>
                                    <?php endforeach; ?>
                                </select>
                            </td>
                            <th width="70">版主:</th>
                            <td>
                                <select name="user_id" id="">
                                    <option value="">全部</option>
                                    <?php foreach($bbs_users_name_list as $bbs_users_id=>$bbs_users_name) : ?>
                                    <option value="{$bbs_users_id}" <?php if($get_cate_data['user_id'] === "$bbs_users_id"){echo 'selected';}?>>{$bbs_users_name}</option>
                                    <?php endforeach; ?>
                                </select>
                            </td>
                            <td>
                                <input class="btn btn-primary btn2" value="查询" type="submit">
                                <a href="/Admin/Cate" class="btn btn-primary btn2">返回</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>分区ID</th>
                            <th>分区名</th>
                            <th>版块ID</th>
                            <th>版块名</th>
                            <th>版主</th>
                            <th>操作</th>
                        </tr>
                        <?php foreach($bbs_cates as $bbs_cate) :?>
                        <tr>
                            <td>{$bbs_cate['part_id']}</td>
                            <td>{$bbs_parts_name_list[$bbs_cate['part_id']]}</td>
                            <td>{$bbs_cate.cate_id}</td>
                            <td>{$bbs_cate['cate_name']}</td>    
                            <td>{$bbs_users_name_list[$bbs_cate['user_id']]}</td>
                            <td>
                                <a class="link-update" href="/Admin/Cate/edit?cate_id={$bbs_cate['cate_id']}">修改</a>
                                <a class="link-del" href="/Admin/Cate/del?cate_id={$bbs_cate['cate_id']}">删除</a>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    </table>
                    <div class="list-page">{$cates_page_show}</div>
                </div>
            </form>
        </div>
    </div>
</block>